* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #0000cc;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    background: #333;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none; /* Firefox */
}

nav::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

nav.is-overflow {
    justify-content: flex-start;
}

nav button {
    flex: 0 0 auto;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

/* MAIN CONTAINER */
main {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* VIEWS (categories + items) */
.category,
.itemPage {
    position: absolute;
    width: 90%;

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: opacity 0s ease, transform 0.25s ease;
}

/* ACTIVE VIEW */
.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
	width: 100%;
}

/* GRID */
.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    gap: 15px;
}

.category, .category *, .itemPage, .itemPage * {
	max-height:0;
	position: absolute;
}

.category.active, .category.active *, .itemPage.active, .itemPage.active * {
	max-height: 100vh;
	position: relative;
}

/* CARD */
.menuItem {
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.15s ease;
}

.menuItem:hover {
    transform: scale(1.03);
}

/* ITEM PAGE */
.itemPage img {
    width: 0%;
    border-radius: 10px;
    margin-top: 10px;
}

.active img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.itemPage button {
    margin-bottom: 15px;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    background: #333;
    color: white;
    cursor: pointer;
}